/*

File Name: mixins.less
Date: 03/03/2021
Programmer: Ella Seaman

*/

// out: null
.imgSize(@paramSize: 100%) {
    width: @paramSize;
    height: auto;
}

.imgSizeTablet(@paramSize: 80%) {
    width: @paramSize;
    height: auto;
}

.imgSizeDesktop(@paramSize: 60%) {
    width: @paramSize;
    height: auto;
}

.navAndFooterImage(@paramImage: url("../images/banner.jpg"); @paramColor: @darkColor3) {
    background-image: @paramImage;
    background-color: @paramColor;
    width: inherit;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headingStyle(@paramColor: #A68A72; @paramSize: 1em; @paramFont: 'Reenie Beanie', cursive;) {
    color: @paramColor;
    font-size: @paramSize;
    font-weight: bold;
    line-height: @paramSize;
    margin-top: @paramSize;
    margin-bottom: @paramSize;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: @paramFont;
}

.transition(@paramSeconds: 1s) {
    -webkit-transition: all @paramSeconds ease-in-out;
    -moz-transition: all @paramSeconds ease-in-out;
    -o-transition: all @paramSeconds ease-in-out;
    transition: all @paramSeconds ease-in-out;
}

.navBtn(@paramSeconds: .5s; @paramColor: @lightColor; @paramImage: url("../images/leaf.png")){
    color: @paramColor;
    background-image: @paramImage;
    border: none;
    padding: 2em 3em;
    text-align: center;
    font-size: 1em;
    transition: @paramSeconds;
    width: inherit;
    height: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.borderBackgroundAndRadius(@paramColor: @lightColor2; @paramRadius:4px) {
    background-color: @paramColor;
    border-radius: @paramRadius;
}

.gradient(@paramDirection: right; @paramColor1: #000; @paramColor2: #260E05;        @paramColor3: #000) {
    background: @paramColor1; 
    background: -o-linear-gradient(@paramDirection, @paramColor1, @paramColor2, @paramColor3);
    background: -moz-linear-gradient(@paramDirection, @paramColor1, @paramColor2, @paramColor3);
    background: linear-gradient(to @paramDirection, @paramColor1, @paramColor2, @paramColor3);
}

.expand() {
   transform: scale(1.1);
   display: inline-block;
}

.transparent() {
  opacity: 0.5;
}

.border() {
    border: 1px transparent;
    border-radius: 5px;
}

.emphasize() {
    text-decoration: underline;
    font-style: italic;
}

.bold() {
    font-style: bold;
    text-transform: uppercase;
}

.flipH() {
    transform: scale(-1);
}

.textSpace() {
    letter-spacing: 0.3em;
    
}
.space() {
    padding: .5em;
    margin: .5em;
}
